#container{
  width: 1440px;
  height: auto;
  background-color: #F7F5F9;
  align-items: center;
  padding: 100px;
  padding-bottom: 0px;
}


.outer{
  display: flex;
  justify-content: center;
}

.picture-container{
  margin-top: 80px;
}
