.footer-outer{
  padding: 100px;
}


li{
  text-align: left;
  margin-bottom: 10px;
}

.input-group .form-control {
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}

@media (max-width: 300px) {
  .footer-outer{
    padding: 0px;
  }
}
